.footer {
    background-color: 	#fff5e8;
    padding: 16px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ddd;
  }
  
  .text {
    color: rgb(36, 36, 78);
    font-size: 14px;
    margin: 0;
  }
  